:root {
    --primary-color:  #001524ff;
    --secondary-color: #e0e1ddff;
    --tertiary-color: white;
    --heading-font: "Shrikhand";
    --secondary-font: "Kanit";
}
* {
    box-sizing: border-box;
    border: 1px dotted pink
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    z-index: 1;
    background-color: rgb(80, 106, 238);
    height: 25px;
    width: 100vw;
    top: 0;
    height: 20%;
}

.title {
    position: absolute;
    align-self: center;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: 800;
    padding: 5px, 5px, 5px, 5px;
    margin: 10px;
    text-align: left;
}

.nav-link:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-link {
    padding: 5px;
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}
.nav-bar {
    position: absolute;
    align-self: center;
    right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    font-family: var(--secondary-font);
}

.dropdown {
    margin-top: 5px;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    justify-content: space-between;
    right: 0;
    background-color: var(--secondary-color);
    min-width: 90vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: whitesmoke;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    /* margin: 5px;
    flex-wrap: wrap; */
}

body {
    background: #1b153d;
    background: linear-gradient(0deg,rgba(27, 21, 61, 1) 0%, rgba(0, 88, 176, 1) 27%, rgba(242, 252, 255, 1) 100%);
    background-size: 100% 100%;
    justify-items: center;
    justify-content: center;
    min-height: 100vh;
}

.teams-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-top: 13%;
    max-width: 100%;
    justify-content: space-evenly;
}

.team-icon {
    margin-top: 25px;
    display: flex ;
    flex-direction: column;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    width: 200px;
    height: 200px;
    justify-content:space-evenly;
    margin: 6px;
    align-content: center;
}

.team-logo {
    max-width: 70%;
    max-height: 70%;
    margin-top: 10px;
    align-self: center;
}
.team-name {
    position: inherit;
    bottom: 5px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    text-align: center;
    align-self: center;
    color:#090979;
    bottom: 5px;
}
.team-icon:hover {
    box-shadow: 5px 5px 5px 1px blue;
}
.about {
    margin-top: 175px;
}
footer {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-align: center;
    bottom: 0;
    padding: 8px;
    background-color: #090979;
    height: 5%;
    width: 100vw;
}

.team-info {
    margin-top: 150px;
}
.team-info h1 {
    text-align: left;
    display: flex;
    float: left;
    justify-content: left;
}